* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}


input{
    margin: auto;
    background-color:#c3cfff ;
       padding: 8px;
       display: block;
       border: none;
       outline: none;
     width: 300px;
   }
.fases{
    width: 50vw;
}
.fase{
    width: 200px;
    height: 40px;
    padding: 10px;
    background-color: #c3cfff;
    color: #fff;
    margin: 10px;
    display: inline-block;
    text-align: center;
}
 .center{
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: center;
    margin: 6% auto 7%;
    margin-right: auto;
    align-content: center;
    text-align: center;
}

#robo{
    width: 550px;
    height:500px;
}
.sobrenos {
    background-color: #3852b5;
    width: 100%;
    bottom: -100%;
    margin-top: 2%;
    color: white;
    text-align: justify;
    margin: 0px;
    height: auto;
    margin-top: 10%;
   }
.comeceaqui{
    text-align: center;
    transform: translateY(240px);
  margin-top: -200px
  
}
.comeceaqui img{
    transition: transform 0.3s ease-in-out;
    width: 500px;
    margin: 10% 5%; 
    
    }
.comeceaqui img:hover{
        transform: scale(1.05);
    }
    
    
@media(max-width:1992px){
    .comeceaqui img{
        transition: transform 0.3s ease-in-out;
        width: 500px;
        margin-top: -100px;
    }
}
@media(max-width:1230px){
    input{
        width: 200px;
    }
    #robo{
        margin: 0 auto;
        width: 500px;
    }
    .center{
        flex-direction: column;
        justify-content: center;
        margin: 10% auto;
    }
    }
@media(max-width:999px) {
    #robo{
        display: none;
     }
    .center{
        align-content: center;
        margin: 7% auto;
        width: 74vw;
    }
    .comeceaqui img{
        margin: 7% auto;
        width: 400px;
        margin-top: 120px;
    }
    .comeceaqui{
        transform: translateY(0px);
    }
}
@media(max-width:700px){
    input{
        width: 150px;
    }
    
    .sobrenos img{
        height:350px
    }
}
@media(max-width:550px){
    .comeceaqui img{
        width: 70%;
    }
}
