*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.center{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}
#btn{
  width: 320px;
  border-radius: 10px;
  height: 45px;
  margin: 30px auto;
  background-color:#3852b5;
  color: #fff;
  border: 5px solid #3852b5;
  font-size: large;
  padding: 10px;
  cursor: pointer;
  
}
form label{
  color: #3852B5;
  display: inline-block;
  font-size: x-large;
  text-align: left;
}
form input{
  border: 3px solid #C3CFFF;
   background-color:#C3CFFF;
   border-radius: 10px;
   font-size: large;
   padding: 10px;
   width: 450px;
   height: 23px;
   margin: 5px auto;
 }
.title{
  font-size:3rem;
  color: #3852b5;
  margin: 150px auto 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

