*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}
.center, .centerlog{
    display: flex;
    flex-direction: row;
    align-content: center;
  
    margin: 40px auto 0px;
}
.center{
  justify-content: space-evenly;
}
.centerlog{
  justify-content: space-between;
}
.form{
  background-color: #f8f9fe;
  border-radius: 10px;
  padding: 30px;
}
.florCanto img{
  transform: translateX(-10px);
  width: 200px;
}
.florCanto{
  width: 5vw;
}
.logcenter{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 10px auto;
  width: 650px;
  height: 400px;
  background-color: #f8f9fe;
  border-radius: 10px;
  
}
.logcenter a{
  color: #586299;
  text-decoration: none;
}
form{
  margin: 10px;
}
#btn{
  width: 320px;
  border-radius: 10px;
  height: 45px;
  margin: 30px auto;
  background-color:#667f2b;
  color: #fff;
  border: 5px solid #667f2b;
  font-size: large;
  padding: 10px;
  cursor: pointer;
  
}
form label{
  color: #3852B5;
  display: inline-block;
  font-size: x-large;
  text-align: left;
}
form input{
  border: 3px solid #C3CFFF;
   background-color:#C3CFFF;
   border-radius: 10px;
   font-size: large;
   padding: 10px;
   width: 550px;
   height: 40px;
   margin: 5px auto 15px;
 }
.title{
  font-size:3rem;
  color: #3852b5;
  margin: 150px auto 5px;
  text-align: center;
  display: flex;
  justify-content: center;
}

