footer{
    bottom: 0;
    background-color: #b2bee1;
    height: auto;
    width: 100vw;
    margin-top: 20%;
    color: #fff;
}
.footer-content{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    width: 99vw;
    text-align: justify;
}
#roboFooter{
    width: 300px;
    margin: 0 100px;
}
#florFooter{
    transform: translateX(-14px);
}
#imgFlor{
    width: 300px;
    margin-right: 200px;
    transform: translatey(-300px);

}
.textFooter{
    font-size: x-large;
}
@media(max-width:1500px){
    #roboFooter{
        display: none;
    }
    .textFooter{
        margin:0 30px;
    }
    #florFooter{
        transform: translateX(-14px);
    }
    #imgFlor{
        width: 300px;
        margin-right: 50px;
        transform: translatey(-200px);
    
    }
}
@media(max-width:1100px){
    .textFooter{
        margin:0 30px;
        font-size: medium;
    }
    #florFooter{
        display: none;
    }
}@media(max-width:900px){
    .textFooter{
        margin:0 10px;
        font-size: small;
    }
}