*{
    padding: 0;
    margin: 0;
}
.ranking{
    background-color: #c3cfff41;
    width: 500px;
    height: 620px;
    text-align: center;
    margin:0 auto;
  
}
.ranking h1{
    color: #3852B5;
    font-size: xxx-large;
    text-align: center;
}
.first img, .second img, .third img{
    width: 130px;
    margin: 10px auto;
}
.second, .third{
    display: inline-block;
    margin: 50px 30px;
}

.third{
    transform: translateY(100px);
}
.topTres{
    width: 50%;
    margin: 0 auto;
}
.rankName{
    width: 300px;
    margin: 1.5% auto;
    background-color: #c3cfff;
    height: 30px;
    color: #fff;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-rank{
    color: #3852B5;
    font-size: xx-large;
    margin-top: 13vh ;
    text-align: center;
}
@media(max-width:1230px){
    .ranking{
        margin:70px auto;
        width: 500px;
    }

    }
@media(max-width:999px) {
    .ranking{
        width: 500px;
        margin: 50px auto;
    }
 
}
@media(max-width:804px) {
    .first{
        display: flex;
        flex-direction: column;
    }
    #first{
        display: flex;
        flex-direction: row;
    }
    .topTres{
        margin-bottom: 5vh;
    }
 
}
@media(max-width:700px){
    .ranking{
    width: 100%;
   }
   .third{
    transform: translateY(0px);
   }
}
@media(max-width:550px){
   .rankName{
    width: 80%;
   }
}